@import "../../assets/styles/colors";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .body {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .title {
            color: $text-primary-color;
            margin-bottom: 30px;
        }

        .cityCards {
            display: flex;

            .cityCardWrapper {
                width: 250px;
                height: 200px;
                margin: 0 20px;
            }
        }

        .nextCitiesButton {
            margin-top: 30px;
        }
    }
}

