@import "../../assets/styles/colors";

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    border-radius: 10px;

    .cities {
        display: flex;
        flex-direction: row;

        .city {
            font-size: 15px;
            color: $text-primary-color;
            margin-right: 15px;
        }
    }
}
