@import "../../assets/styles/colors";

.button {
    font-size: 18px;
    line-height: 20px;
    width: auto;
    height: auto;
    background-color: rgba($primary-button-background-color, 0.9);
    color: $primary-button-text-color;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, .2);
    cursor: pointer;

    &:hover {
        background-color: rgba($primary-button-background-color, 1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    }
}
