@import "../../assets/styles/colors";
@import "../../assets/styles/dimensions";

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $background-primary-color;

    .container {
        width: $container-max-width;
        height: 100%;
        padding: $container-padding;
        background-color: rgba(0,0,0,0.05);
    }
}
