@import "../../assets/styles/colors";

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    .title {
        font-size: 25px;
    }

    .title, .temperature {
        color: $background-primary-color;
    }

    &:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
        background-color: #fff;
    }

    &.isCorrect {
        background-color: #00cc00;

        .title, .temperature {
            color: #fff;
        }
    }

    &.isWrong {
        background-color: red;

        .title, .temperature {
            color: #fff;
        }
    }
}
