.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .body {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        height: 100%;
        width: 100%;

        .measurementUnit {
            margin-bottom: 20px;
        }

        .history {
            overflow-y: auto;
            height: 100%;
        }
    }
}
