$background-primary-color: #2f2f2f;
$background-secondary-color: #332f59;

$text-primary-color: #fff;
$text-secondary-color: rgba($text-primary-color, 0.8);

$primary-button-background-color: #fff827;
$primary-button-text-color: #2f2f2f;
